<!DOCTYPE html>
<html ng-app = "siApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>OBRIGADO!</title>
<!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <!-- Angular JS -->
        <script src = "js/angular.min.js"></script>
    <!-- Jquery -->
        <script src = "js/jquery-2.1.1.min.js"></script>        
    <!-- Controllers -->
        <script src = "js/SubjectController.js"></script>
    </head>


    <body ng-controller="SubjectController">
        
     <h1>Obrigado por efetuar cadastro!</h1>
        
        <div class="container">

                <div class="panel-heading">
                   <h3>TEMAS APRENDIDOS</h3>
                </div>
                <table class="table">
                    <tbody> 
                        <tr ng-repeat="subject in known track by $index">
                            <td>{{ subject }}</td>
                            <td>
                                <a class="btn pull-right btn-info btn-xs" ng-click="moveKnown($index)">mover</a>
                                <a class="btn pull-right btn-danger btn-xs" ng-click="removeKnown($index)">remover</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
        
                    <tbody>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">Assunto</span>
                                    <input type="text" ng-model="knownName" class="form-control" placeholder="TEMAS APRENDIDOS" required>
                                </div>
                            </td>
                            <td>
                                <a class="btn pull-right btn-success" ng-click="addKnown(knownName)">Adicionar</a>
                            </td>
                        </tr>
                    </tbody>
        </div>
        
        <div class="container">

                <div class="panel-heading">
                   <h3>TEMAS A APRENDER</h3>
                </div>
                <table class="table">
                    <tbody>
                        <tr ng-repeat="subject in desired track by $index">
                            <td>{{ subject }}</td>
                            <td>
                                <a class="btn pull-right btn-info btn-xs" ng-click="moveDesired($index)">mover</a>
                                <a class="btn pull-right btn-danger btn-xs" ng-click="removeDesired($index)">remover</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon">Assunto</span>
                                    <input type="text" ng-model="desiredName" class="form-control" placeholder="TEMAS A APRENDER" required>
                                </div>
                            </td>
                            <td>
                                <a class="btn pull-right btn-success" ng-click="addDesired(desiredName)">Adicionar</a>
                            </td>
                        </tr>
                    </tbody>
           
         </div>
            <a href=index.html>Voltar a página inicial</a>
        </div>        
    </body>
</html>